.b-movimento { border-style: solid; border-radius: 7px; border-width: 2px;	border-color: rgb(196,54,156);	
	background-color: rgb(251, 89, 206); color: white; padding-left: 3px; padding-right: 3px;
}

.b-eventos { border-style: solid; border-radius: 7px; border-width: 2px;	border-color: rgb(202,179,59);	
	background-color: rgb(245,196,0); color:  white; padding-left: 3px; padding-right: 3px;
}

.b-controle { border-style: solid; border-radius: 7px; border-width: 2px;	border-color: rgb(208,152,35);	
	background-color: rgb(255,181,21); color: white; padding-left: 3px; padding-right: 3px;
}

.b-operador { border-style: solid; border-radius: 7px; border-width: 2px;	border-color: #00903b;	
	background-color: #00b94d; color: white; padding-left: 3px; padding-right: 3px;
}

.b-sensor { border-style: solid; border-radius: 7px; border-width: 2px;	border-color: #039d95;	
	background-color: #1dccf0; color: white; padding-left: 3px; padding-right: 3px;
}

.b-motores { border-style: solid; border-radius: 7px; border-width: 2px;	border-color: #005fa0;	
	background-color: #0090f5; color: white; padding-left: 3px; padding-right: 3px;
}